@(audioUrl: String, transcriptUrl: String)
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Transcribe</title>
        @*<link rel="stylesheet" href="@routes.Assets.versioned("build/main.css")">*@
    </head>

    <body>
        <div id="root"></div>

        <script type="application/javascript">

            const audioUrl = "@Html(audioUrl)";
            const transcriptUrl = "@Html(transcriptUrl)";
        </script>
        <script src="@routes.Assets.versioned("dist/bundle.js")"></script>

    </body>
</html>
